@use "src/scss" as *;

.select {
  position: relative;
  min-width: 200px;

  svg {
    position: absolute;
    right: 12px;
    top: calc(50% - 3px);
    width: 10px;
    height: 6px;
    stroke-width: 2px;
    stroke: #9098A9;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    pointer-events: none;
  }

  select {
    -webkit-appearance: none;
    padding: 12px 40px 12px 1rem;
    width: 100%;
    border: 2px solid #E8EAED;
    border-radius: 12px;
    background: white;
    box-shadow: 0 1px 3px -2px #9098A9;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    transition: all 150ms ease;

    &:required:invalid {
      color: #5A667F;
    }

    option {
      color: var(--txt-cl);

      &[value=""][disabled] {
        display: none;
      }
    }

    &:focus {
      outline: none;
      border-color: var(--main-cl);
      box-shadow: 0 0 0 2px rgba(var(--main-cl), .2);
    }

    &:hover + svg {
      stroke: var(--main-cl);
    }
  }
}

.sprites {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}